* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  align-items: center; /*linea de arriba (10) y esta me centran el cntenido de arriba y abajo, izda y dcha.*/
  display: flex;
  justify-content: center;
}

.main {
  background: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 300px;
  max-height: 1000px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 2px 2px 2px hsl(220, 15%, 55%);
}

.main .qr {
  width: 100%;
  margin-bottom: 15px;
}

.main .qr img {
  width: 100%;
  border-radius: 15px;
  background-size: auto;
}

.main .info {
  padding: 5px;
  text-align: center;
}

.main .info h1 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding-bottom: 15px;
}

.main .info p {
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  color: hsl(211, 20%, 78%);
}

footer {
  width: 100%;
}

.attribution {
  font-size: 10px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  .main {
    width: 100%;
    max-width: 200px;
    max-height: 350px;
  }

  .main .info h1 {
    font-size: 15px;
  }
  .main .info p {
    font-size: 10px;
  }
}
